html {
    font-size: 14px;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  }
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  body{
    margin-bottom: 60px;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: unset;
  }
  
  .menu-lateral {
    background-color: #6bbf3d;
    color: #fff;
    min-height: 100vh;
    padding: 38px;
    width: 200px;
  }
  
  .menu-lateral a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    font-size: 1rem;
  }
  
  .menu-lateral a:hover {
    background-color: #495057;
    border-radius: 5px;
  }
  
  .contenido {
    padding: 20px;
  }
  
  .text-overlay {
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
  }
  
  .img-fluid {
    width: 85%;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-success {
    background-color: #8fd04e !important;
  }
  